<h3 class="page-header">
  All Actors
  <span class="pull-right">
    <%= link_to "New Actor", new_actor_path, class: 'btn btn-sm btn-success' %>
  </span>
</h3>

<ul>
  <% @actors.each do |actor| %>
    <li><%= actor.name %></li>
  <% end %>
</ul>