<h3 class="page-header">
  All Actors
  <span class="pull-right">
    <%= link_to "New Actor", new_actor_url, class: 'btn btn-sm btn-success' %>
  </span>
</h3>

<ul>
  <% @actors.each do |actor| %>
    <li>
      <%= link_to actor.name, edit_actor_url(actor) %>
      <%= link_to "Delete", 
            actor_url(actor), 
            method: :delete,
            data: { confirm: 'No, really?!' } %>
    </li>
  <% end %>
</ul>