<% if @actor.image.present? %>
  <%= image_tag "data:image/*;base64,#{@actor.image}" %> 
<% end %>

<h3><%= @actor.name %></h3>

<div class="row">

  <% @actor.movies.each do |m| %>

    <%= render "shared/movie", movie: m %>  

  <% end %>

</div>