<!-- Use view helpers (e.g. link_to and image_tag) -->
<!-- and implement real data -->

<div class="row">

  <% @movies.each do |m| %>
  
    <%= render "shared/movie", movie: m %>
  
  <% end %>

</div>