<!-- Use view helpers (e.g. link_to and image_tag) -->
<!-- and implement real data -->

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <a href="/movies/1"><img src="/assets/guardians.jpg"></a>
      <div class="caption">
        <h3><a href="/movies/1">Guardians of the Galaxy</a></h3>
        <p>A group of intergalactic criminals are forced to work together to stop a fanatical warrior from taking control of the universe.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <a href="/movies/1"><img src="/assets/guardians.jpg"></a>
      <div class="caption">
        <h3><a href="/movies/1">Guardians of the Galaxy</a></h3>
        <p>A group of intergalactic criminals are forced to work together to stop a fanatical warrior from taking control of the universe.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <a href="/movies/1"><img src="/assets/guardians.jpg"></a>
      <div class="caption">
        <h3><a href="/movies/1">Guardians of the Galaxy</a></h3>
        <p>A group of intergalactic criminals are forced to work together to stop a fanatical warrior from taking control of the universe.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <a href="/movies/1"><img src="/assets/guardians.jpg"></a>
      <div class="caption">
        <h3><a href="/movies/1">Guardians of the Galaxy</a></h3>
        <p>A group of intergalactic criminals are forced to work together to stop a fanatical warrior from taking control of the universe.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <a href="/movies/1"><img src="/assets/guardians.jpg"></a>
      <div class="caption">
        <h3><a href="/movies/1">Guardians of the Galaxy</a></h3>
        <p>A group of intergalactic criminals are forced to work together to stop a fanatical warrior from taking control of the universe.</p>
      </div>
    </div>
  </div>
</div>