<%= form_tag charges_path do %>

  <article>
    <label class="amount">
      <span>Amount: $25.00</span>
    </label>
  </article>

  <%= hidden_field_tag :amount, 2500 %>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="Superman III"
          data-amount="2500"></script>

<% end %>